.home {
	position: relative;

	&--wrap {
		width: calc(100% - 280px);
		padding: 40px;
		min-height: 100vh;
		@include under($b-md) { height: auto; }
		@include under($b-sm) { padding: 30px; width: 100%; }
		@include under($b-xs) { padding: 22px; }
	}

	&__chat {
		top: 0;
		right: 0;
		width: 280px;
		height: 100vh;
		position: fixed;
		@include under($b-sm) {
			width: 100%;
			height: 450px;
			position: relative;
			margin-top: 20px;
		}
		iframe {
			width: 100%;
			height: 100%;
		}
	}

	&__stream {
		width: 100%;
		height: 0;
		display: block;
		position: relative;
		padding-top: 56.25%;
		margin-bottom: 20px;

		iframe {
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			position: absolute;
		}
	}

	&__slider {

		&--holder {
			top: 0;
			left: 0;
			width: 100%;
			position: fixed;
			&.chat {
				width: calc(100% - 280px);
				@include under($b-sm) {
					width: 100%;
				}
			}
		}

		&--item {
			outline: none;
			@include bg-cover;
			span {
				width: 100vw;
				height: 100vh;
				display: block;
			}
		}
	}

	&__main {
		width: 180px;
		z-index: 1;
		position: relative;
		&:hover &--logo { border: 10px solid #101010; }
		&:hover &--player { background-color: #101010; }

		&--logo {
			max-width: 100%;
			height: auto;
			border: 10px solid $c-black;
			cursor: pointer;
			display: block;
			margin-bottom: 1px;
			background-color: $c-white;
			@include transition;
		}

		&--player {
			width: 100%;
			cursor: pointer;
			overflow: hidden;
			position: relative;
			font-size: 13px;
			text-align: center;
			line-height: 1;
			margin-bottom: 20px;
			letter-spacing: 2px;
			text-transform: uppercase;
			background-color: $c-black;
			@include transition;
			@include no-select;
			&.active span:before { content: 'Detener'; }
			&.active span:after { content: "\f04c"; }
			&:not(.block) { max-height: 50px; }
			&.block {
				i {
					width: 45px;
					height: 45px;
					margin: 0 auto;
					filter: invert(1);
					display: block;
					background-size: 120px auto;
					background-image: url(../img/loader.gif);
					background-repeat: no-repeat;
					background-position: center center;
				}
				span { display: none; }
			}
			span {
				display: inline-block;
				line-height: 45px;
				i { display: none; }
				&:before {
					content: 'Reproducir';
					margin-right: 10px;
					display: inline-block;
				}
				&:after {
					content: "\f04b";
					font-family: FontAwesome;
				}
			}
		}

		&--dots {
			font-size: 0;
			margin-bottom: 20px;
			li {
				display: inline-block;
				margin-right: 10px;
				&.slick-active button {
					background-color: $c-black;
				}
				button {
					@include no-webkit;
					width: 12px;
					height: 12px;
					border: 2px solid $c-white;
					cursor: pointer;
					outline: none;
					font-size: 0;
					border-radius: 50%;
					background-color: $c-white;
				}
			}
		}
	}

	&__social {
		z-index: 1;
		position: relative;
		font-size: 0;
		margin-left: auto;
		margin-bottom: 20px;
		@include under($b-md) {
			width: 100%;
			margin-top: 40px;
			margin-left: 0;
		}
		@include under($b-sm) {
			margin-top: 30px;
		}
		@include under($b-xs) {
			margin-top: 22px;
		}

		&--item {
			width: 50px;
			height: 50px;
			color: $c-black;
			font-size: 20px !important;
			text-align: center;
			margin-left: 1px;
			line-height: 50px !important;
			margin-bottom: 1px;
			background-color: $c-white;
			@include transition;
			&:hover { background-color: #efefef; }
		}
	}

	&--spacer {
		width: 100%;
	}

	&__info {
		z-index: 1;
		position: relative;
		margin-top: auto;
		margin-right: auto;
		margin-bottom: 20px;
		@include under($b-md) {
			display: flex;
			flex-wrap: wrap;
			margin-top: 40px;
			margin-right: 0;
			flex-direction: column;
		}
		@include under($b-sm) {
			margin-top: 30px;
		}
		@include under($b-xs) {
			margin-top: 22px;
		}

		&--btn {
			width: 45px;
			height: 45px;
			margin: 1px 0;
			cursor: pointer;
			display: block;
			position: relative;
			background-color: $c-white;
			@include transition;
			@include under($b-md) { order: 1; }
			&:after,
			&:before {
				content: '';
				top: 50%;
				left: 50%;
				width: 50%;
				height: 2px;
				display: block;
				position: absolute;
				transform: translate(-50%,-50%);
				background-color: $c-black;
				transform-origin: center center;
				@include transition;
			}
			&:after { margin-top: -5px; }
			&:before { margin-top: 5px; }
			&.active:after,
			&.active:before {
				margin-top: 0;
			}
			&.active:after { transform: translate(-50%,-50%) rotate(-45deg); }
			&.active:before { transform: translate(-50%,-50%) rotate(45deg); }
		}

		&--content {
			width: 100%; max-width: 280px;
			color: $c-white;
			padding: 0 25px;
			overflow: hidden;
			max-height: 0;
			background-color: $c-black;
			@include transition;
			@include under($b-md) { order: 2; }
			&.active {
				padding: 30px 25px;
				max-height: 500px;
			}
		}

		&--ttl {
			font-size: 32px;
			line-height: 1;
			font-family: $f-bold;
			margin-bottom: 15px;
			@include under($b-xs) {
				font-size: 27px;
			}
		}

		&--txt {}
	}

	&--copy {
		z-index: 1;
		width: auto;
		padding: 1px 7px;
		display: inline-block;
		position: relative;
		font-size: 14px;
		background: black;
		text-shadow: 0 0 12px rgba(0,0,0,0.65);
		@include no-select;
		a { font-family: $f-bold; }
		&:hover strong { text-decoration: underline; }
	}
}