.rsvp {
	color: $c-base;
	padding: 40px 20px;
	min-height: 100vh;
	background-color: black;
	background-image: url(../img/slp-bg.png);
	background-position: top center;
	@include under($b-md) {
		background-size: 150%;
	}
	@include under($b-xs) {
		padding: 20px;
		background-size: 100% auto;
	}

	&--wrap {
		padding: 0;
		max-width: 600px;
	}

	&--header {
		width: 100%;
		height: auto;
		margin: 0 auto 40px auto;
		display: block;
		@include under($b-xs) {
			margin-bottom: 20px;
		}
	}

	&__content {
		width: 100%;
		padding: 10% 6%;
		font-size: 18px;
		background-color: $c-white;
		p { line-height: 1.5; }

		&--intro {
			color: $c-base;
			margin-bottom: 60px;
		}

		&--mailchimp {
			text-align: center;

			label {
				color: $c-base;
				display: block;
				margin-top: 25px;
				font-family: $f-bold;
				text-transform: uppercase;
			}
			select {
				cursor: pointer;
				background-size: 40px 40px;
				background-image: url(../img/arrow-down.png);
				background-repeat: no-repeat;
				background-position: right center;
			}
			select,input:not([type="submit"]) {
				width: 100%; max-width: 350px;
				color: $c-base;
				border: none;
				margin: 0 auto 10px auto;
				padding: 15px 10px 10px 10px;
				outline: none;
				display: block;
				font-size: 17px;
				text-align: center;
				font-family: $f-book;
				border-radius: 0;
				background-color: #eee;
				&:-moz-placeholder { color: $c-font; }
				&::-moz-placeholder { color: $c-font; }
				&:-ms-input-placeholder { color: $c-font; }
				&::-webkit-input-placeholder { color: $c-font; }
				@include no-webkit;
			}

			input[type="submit"] {
				color: $c-font;
				border: none;
				cursor: pointer;
				outline: none;
				padding: 15px 20px;
				font-size: 17px;
				margin-top: 30px;
				font-family: $f-bold;
				border-bottom: 1px solid;
				text-transform: uppercase;
				background-color: red;
				@include no-webkit;
				@include under($b-xs) {
					padding: 15px;
					font-size: 16px;
				}
			}
		}
	}

	&__header {
		width: 100%;
		padding: 30px 0;
		position: relative;
		margin-bottom: -40px;
		background-color: black;
		background-position: center center;
		@include no-select;
		@include under($b-md) {
			background-size: 150%;
			background-position: center center;
		}
		@include under($b-sm) {
			padding: 40px 0;
			margin-bottom: 0;
		}

		&--wrap {
			padding: 0 20px;
			display: flex;
			flex-wrap: wrap;
			align-items: flex-start;
			justify-content: space-around;
		}

		&--img {
			width: 100%; max-width: 450px;
		}

		&--btn {
			color: $c-white;
			margin: auto 0;
			cursor: pointer;
			padding: 10px 15px;
			display: inline-block;
			font-size: 14px;
			font-family: $f-bold;
			border-radius: 3px;
			text-transform: uppercase;
			background-color: red;
			@include under($b-sm) { margin-top: 30px; }
		}
	}

	&__social {
		font-size: 0;
		margin-top: 40px;
		text-align: center;
		@include under($b-xs) { margin-top: 20px; }

		&--item {
			color: $c-font;
			margin: 0 10px;
			padding: 15px 20px;
			display: inline-block;
			font-size: 16px !important;
			background-color: $c-base;
			span {
				display: inline-block;
				margin-left: 8px;
				font-family: $f-bold;
			}
		}
	}
}