
/* CONFIG */

@import '_mixins';
@import '_variables';

* { margin: 0; padding: 0; box-sizing: border-box; }

html { width: 100%; }

body { 
	width: 100%;
	color: $c-font;
	position: relative;
	font-size: 16.5px;
	min-height: 100vh;
	background: $c-base;
	line-height: 1.5;
	font-family: $f-book;
	// padding-top: $h-header;
	// padding-bottom: $h-footer;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.screen-reader-text { position: absolute; left: -9999px; top: -9999px; }
.clear { clear: both; }
.group:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; h: 0; }
* html .group, *:first-child+html .group { zoom: 1; } /* First selector = IE6, Second Selector = IE 7 */

h1, h2, h3 { font-family: $f-book; font-weight: normal; margin: 0 0 10px 0; line-height: 1.3; }

p {
	margin: 0 0 15px 0;
	line-height: 1.5;
	&:last-child { margin-bottom: 0; }
}

a { 
	color: $c-font; 
	text-decoration: none;
}

img { border: none; @include no-select; }
a img { border: none; }
b,strong { font-weight: normal; font-family: $f-bold; }

#pre { 
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: block;
	z-index: 99;
	position: fixed;
	background: $c-base;
}

section {
	outline: none;
}