
/* MIXINS */

@mixin bg-cover {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
@mixin bg-contain {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}
@mixin no-webkit {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}
@mixin transition($duration: 0.3s) {
	-webkit-transition:	all $duration ease;
	-moz-transition:	all $duration ease;
	-o-transition:		all $duration ease;
	transition:			all $duration ease;
}
@mixin grayscale {
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
	filter: gray;
	-webkit-filter: grayscale(99%);
	-webkit-backface-visibility: hidden;	
}
@mixin middle {
	display: flex;
	flex-direction: column; 
	justify-content: center;
}
@mixin no-select {
	user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}
@mixin under($break) {
	@media (max-width: $break) { 
		@content;
	}
}
@mixin over($break) {
	@media (min-width: $break) { 
		@content;
	}
}