
/* FONTS */
$f-book: 'Circular-Std-Book', sans-serif;
$f-bold: 'Circular-Std-Black', sans-serif;

/* COLORS */
$c-base:  #000000;
$c-font:  #ffffff;
$c-black: #000000;
$c-white: #ffffff;

/* BREAKS */
$b-xl: 1440px;
$b-lg: 1080px;
$b-md: 900px;
$b-sm: 720px;
$b-xs: 600px;

/* W&H */
$w-wrap: 1200px;
$h-header: 70px;
$h-footer: 360px;