
@font-face {
	font-family:'Circular-Std-Book';
	src: url('../webfont/Circular-Std-Book.eot');
	src: url('../webfont/Circular-Std-Book.eot?#iefix') format('embedded-opentype'),
		url('../webfont/Circular-Std-Book.woff') format('woff'),
		url('../webfont/Circular-Std-Book.ttf') format('truetype'),
		url('../webfont/Circular-Std-Book.svg#Circular-Std-Book') format('svg');
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
}

@font-face {
	font-family:'Circular-Std-Black';
	src: url('../webfont/Circular-Std-Black.eot');
	src: url('../webfont/Circular-Std-Black.eot?#iefix') format('embedded-opentype'),
		url('../webfont/Circular-Std-Black.woff') format('woff'),
		url('../webfont/Circular-Std-Black.ttf') format('truetype'),
		url('../webfont/Circular-Std-Black.svg#Circular-Std-Black') format('svg');
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
}
