.basic {
	[aria-label="Fullscreen"],
	[aria-label="Blockquote"],
	[aria-label="Strikethrough"],
	// [aria-label="Italic"],
	[aria-label="Underline"],
	[aria-label="Undo"],
	[aria-label="Redo"],
	[aria-label="Align left"],
	[aria-label="Align center"],
	[aria-label="Align right"],
	[aria-label="Pantalla completa"],
	[aria-label="Cita (⌃⌥Q)"],
	[aria-label="Tachado (⌃⌥D)"],
	// [aria-label="Italic"],
	[aria-label="Subrayado (⌘U)"],
	[aria-label="Deshacer (⌘Z)"],
	[aria-label="Rehacer (⌘Y)"],
	[aria-label="Alineación izquierda (⌃⌥L)"],
	[aria-label="Alineación centrada (⌃⌥C)"],
	[aria-label="Alineación derecha (⌃⌥R)"] {
		display: none;
	}
}

.md {
	iframe {
		height: 250px !important;
		min-height: 0 !important;
	}
	.mce-statusbar {
		// display: none !important;
	}
}
.sm {
	iframe {
		height: 160px !important;
		min-height: 0 !important;
	}
	.mce-statusbar {
		// display: none !important;
	}
}
.xs {
	iframe {
		height: 120px !important;
		min-height: 0 !important;
	}
	.mce-statusbar {
		// display: none !important;
	}
}
.xxs {
	iframe {
		height: 75px !important;
		min-height: 0 !important;
	}
	.mce-statusbar,
	.mce-toolbar-grp {
		display: none !important;
	}
}

.h1 input,
.h1 textarea {
	height: auto !important;
	padding: 5px !important;
	font-size: 22px !important;
	font-weight: bold;
	font-family: serif;
}
.h2 input,
.h2 textarea {
	font-size: 18px !important;
	font-weight: bold;
}
.center {
	padding-bottom: 0 !important;
}
.center input,
.center textarea { text-align: center !important; }

.colored {
	.acf-switch {
		background: #dc5d4a;
		white-space: nowrap;
		border-color: rgba(0,0,0,0.1) !important;
		.-on {
			background: #309cf3;
		}
		.acf-switch-on,
		.acf-switch-off {
			color: #fff;
			text-shadow: rgba(0,0,0,0.2) 0 1px 0;
		}
		&-slider {
			border-color: rgba(0,0,0,0.2) !important;
		}
		span {
			float: none !important;
		}
	}
}

.hide {
	border: none !important;
	margin: 0 !important;
	padding: 0 !important;
	& * { display: none !important; border: none !important; }
}

.acf-oembed iframe { height: 260px !important; }
.acf-gallery {
	height: 200px !important;
	.acf-fr { display: none !important; }
}

// .acf-fields > .acf-field { overflow: hidden !important; min-height: 0 !important; }
// .acf-field .acf-label label { white-space: nowrap; }
