@charset "UTF-8";
.basic [aria-label="Fullscreen"],
.basic [aria-label="Blockquote"],
.basic [aria-label="Strikethrough"],
.basic [aria-label="Underline"],
.basic [aria-label="Undo"],
.basic [aria-label="Redo"],
.basic [aria-label="Align left"],
.basic [aria-label="Align center"],
.basic [aria-label="Align right"],
.basic [aria-label="Pantalla completa"],
.basic [aria-label="Cita (⌃⌥Q)"],
.basic [aria-label="Tachado (⌃⌥D)"],
.basic [aria-label="Subrayado (⌘U)"],
.basic [aria-label="Deshacer (⌘Z)"],
.basic [aria-label="Rehacer (⌘Y)"],
.basic [aria-label="Alineación izquierda (⌃⌥L)"],
.basic [aria-label="Alineación centrada (⌃⌥C)"],
.basic [aria-label="Alineación derecha (⌃⌥R)"] {
  display: none; }

.md iframe {
  height: 250px !important;
  min-height: 0 !important; }

.sm iframe {
  height: 160px !important;
  min-height: 0 !important; }

.xs iframe {
  height: 120px !important;
  min-height: 0 !important; }

.xxs iframe {
  height: 75px !important;
  min-height: 0 !important; }

.xxs .mce-statusbar,
.xxs .mce-toolbar-grp {
  display: none !important; }

.h1 input,
.h1 textarea {
  height: auto !important;
  padding: 5px !important;
  font-size: 22px !important;
  font-weight: bold;
  font-family: serif; }

.h2 input,
.h2 textarea {
  font-size: 18px !important;
  font-weight: bold; }

.center {
  padding-bottom: 0 !important; }

.center input,
.center textarea {
  text-align: center !important; }

.colored .acf-switch {
  background: #dc5d4a;
  white-space: nowrap;
  border-color: rgba(0, 0, 0, 0.1) !important; }
  .colored .acf-switch .-on {
    background: #309cf3; }
  .colored .acf-switch .acf-switch-on,
  .colored .acf-switch .acf-switch-off {
    color: #fff;
    text-shadow: rgba(0, 0, 0, 0.2) 0 1px 0; }
  .colored .acf-switch-slider {
    border-color: rgba(0, 0, 0, 0.2) !important; }
  .colored .acf-switch span {
    float: none !important; }

.hide {
  border: none !important;
  margin: 0 !important;
  padding: 0 !important; }
  .hide * {
    display: none !important;
    border: none !important; }

.acf-oembed iframe {
  height: 260px !important; }

.acf-gallery {
  height: 200px !important; }
  .acf-gallery .acf-fr {
    display: none !important; }
/*# sourceMappingURL=admin.css.map */