/* CONFIG */
/* CONFIG */
/* MIXINS */
/* FONTS */
/* COLORS */
/* BREAKS */
/* W&H */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  width: 100%; }

body {
  width: 100%;
  color: #ffffff;
  position: relative;
  font-size: 16.5px;
  min-height: 100vh;
  background: #000000;
  line-height: 1.5;
  font-family: "Circular-Std-Book", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.screen-reader-text {
  position: absolute;
  left: -9999px;
  top: -9999px; }

.clear {
  clear: both; }

.group:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  h: 0; }

* html .group, *:first-child + html .group {
  zoom: 1; }

/* First selector = IE6, Second Selector = IE 7 */
h1, h2, h3 {
  font-family: "Circular-Std-Book", sans-serif;
  font-weight: normal;
  margin: 0 0 10px 0;
  line-height: 1.3; }

p {
  margin: 0 0 15px 0;
  line-height: 1.5; }
  p:last-child {
    margin-bottom: 0; }

a {
  color: #ffffff;
  text-decoration: none; }

img {
  border: none;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none; }

a img {
  border: none; }

b, strong {
  font-weight: normal;
  font-family: "Circular-Std-Black", sans-serif; }

#pre {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: block;
  z-index: 99;
  position: fixed;
  background: #000000; }

section {
  outline: none; }

.wrap {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px; }
  @media (max-width: 600px) {
    .wrap {
      padding: 0 20px; } }

@font-face {
  font-family: 'Circular-Std-Book';
  src: url("../webfont/Circular-Std-Book.eot");
  src: url("../webfont/Circular-Std-Book.eot?#iefix") format("embedded-opentype"), url("../webfont/Circular-Std-Book.woff") format("woff"), url("../webfont/Circular-Std-Book.ttf") format("truetype"), url("../webfont/Circular-Std-Book.svg#Circular-Std-Book") format("svg");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: 'Circular-Std-Black';
  src: url("../webfont/Circular-Std-Black.eot");
  src: url("../webfont/Circular-Std-Black.eot?#iefix") format("embedded-opentype"), url("../webfont/Circular-Std-Black.woff") format("woff"), url("../webfont/Circular-Std-Black.ttf") format("truetype"), url("../webfont/Circular-Std-Black.svg#Circular-Std-Black") format("svg");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal; }

/* GENERAL */
/* SECTIONS */
.home {
  position: relative; }
  .home--wrap {
    width: calc(100% - 280px);
    padding: 40px;
    min-height: 100vh; }
    @media (max-width: 900px) {
      .home--wrap {
        height: auto; } }
    @media (max-width: 720px) {
      .home--wrap {
        padding: 30px;
        width: 100%; } }
    @media (max-width: 600px) {
      .home--wrap {
        padding: 22px; } }
  .home__chat {
    top: 0;
    right: 0;
    width: 280px;
    height: 100vh;
    position: fixed; }
    @media (max-width: 720px) {
      .home__chat {
        width: 100%;
        height: 450px;
        position: relative;
        margin-top: 20px; } }
    .home__chat iframe {
      width: 100%;
      height: 100%; }
  .home__stream {
    width: 100%;
    height: 0;
    display: block;
    position: relative;
    padding-top: 56.25%;
    margin-bottom: 20px; }
    .home__stream iframe {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      position: absolute; }
  .home__slider--holder {
    top: 0;
    left: 0;
    width: 100%;
    position: fixed; }
    .home__slider--holder.chat {
      width: calc(100% - 280px); }
      @media (max-width: 720px) {
        .home__slider--holder.chat {
          width: 100%; } }
  .home__slider--item {
    outline: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; }
    .home__slider--item span {
      width: 100vw;
      height: 100vh;
      display: block; }
  .home__main {
    width: 180px;
    z-index: 1;
    position: relative; }
    .home__main:hover .home__main--logo {
      border: 10px solid #101010; }
    .home__main:hover .home__main--player {
      background-color: #101010; }
    .home__main--logo {
      max-width: 100%;
      height: auto;
      border: 10px solid #000000;
      cursor: pointer;
      display: block;
      margin-bottom: 1px;
      background-color: #ffffff;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    .home__main--player {
      width: 100%;
      cursor: pointer;
      overflow: hidden;
      position: relative;
      font-size: 13px;
      text-align: center;
      line-height: 1;
      margin-bottom: 20px;
      letter-spacing: 2px;
      text-transform: uppercase;
      background-color: #000000;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
      user-select: none;
      -ms-user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none; }
      .home__main--player.active span:before {
        content: 'Detener'; }
      .home__main--player.active span:after {
        content: "\f04c"; }
      .home__main--player:not(.block) {
        max-height: 50px; }
      .home__main--player.block i {
        width: 45px;
        height: 45px;
        margin: 0 auto;
        -webkit-filter: invert(1);
                filter: invert(1);
        display: block;
        background-size: 120px auto;
        background-image: url(../img/loader.gif);
        background-repeat: no-repeat;
        background-position: center center; }
      .home__main--player.block span {
        display: none; }
      .home__main--player span {
        display: inline-block;
        line-height: 45px; }
        .home__main--player span i {
          display: none; }
        .home__main--player span:before {
          content: 'Reproducir';
          margin-right: 10px;
          display: inline-block; }
        .home__main--player span:after {
          content: "\f04b";
          font-family: FontAwesome; }
    .home__main--dots {
      font-size: 0;
      margin-bottom: 20px; }
      .home__main--dots li {
        display: inline-block;
        margin-right: 10px; }
        .home__main--dots li.slick-active button {
          background-color: #000000; }
        .home__main--dots li button {
          appearance: none;
          -moz-appearance: none;
          -webkit-appearance: none;
          width: 12px;
          height: 12px;
          border: 2px solid #ffffff;
          cursor: pointer;
          outline: none;
          font-size: 0;
          border-radius: 50%;
          background-color: #ffffff; }
  .home__social {
    z-index: 1;
    position: relative;
    font-size: 0;
    margin-left: auto;
    margin-bottom: 20px; }
    @media (max-width: 900px) {
      .home__social {
        width: 100%;
        margin-top: 40px;
        margin-left: 0; } }
    @media (max-width: 720px) {
      .home__social {
        margin-top: 30px; } }
    @media (max-width: 600px) {
      .home__social {
        margin-top: 22px; } }
    .home__social--item {
      width: 50px;
      height: 50px;
      color: #000000;
      font-size: 20px !important;
      text-align: center;
      margin-left: 1px;
      line-height: 50px !important;
      margin-bottom: 1px;
      background-color: #ffffff;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      .home__social--item:hover {
        background-color: #efefef; }
  .home--spacer {
    width: 100%; }
  .home__info {
    z-index: 1;
    position: relative;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: 20px; }
    @media (max-width: 900px) {
      .home__info {
        display: -webkit-box;
        display: flex;
        flex-wrap: wrap;
        margin-top: 40px;
        margin-right: 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column; } }
    @media (max-width: 720px) {
      .home__info {
        margin-top: 30px; } }
    @media (max-width: 600px) {
      .home__info {
        margin-top: 22px; } }
    .home__info--btn {
      width: 45px;
      height: 45px;
      margin: 1px 0;
      cursor: pointer;
      display: block;
      position: relative;
      background-color: #ffffff;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      @media (max-width: 900px) {
        .home__info--btn {
          -webkit-box-ordinal-group: 2;
                  order: 1; } }
      .home__info--btn:after, .home__info--btn:before {
        content: '';
        top: 50%;
        left: 50%;
        width: 50%;
        height: 2px;
        display: block;
        position: absolute;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        background-color: #000000;
        -webkit-transform-origin: center center;
                transform-origin: center center;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease; }
      .home__info--btn:after {
        margin-top: -5px; }
      .home__info--btn:before {
        margin-top: 5px; }
      .home__info--btn.active:after, .home__info--btn.active:before {
        margin-top: 0; }
      .home__info--btn.active:after {
        -webkit-transform: translate(-50%, -50%) rotate(-45deg);
                transform: translate(-50%, -50%) rotate(-45deg); }
      .home__info--btn.active:before {
        -webkit-transform: translate(-50%, -50%) rotate(45deg);
                transform: translate(-50%, -50%) rotate(45deg); }
    .home__info--content {
      width: 100%;
      max-width: 280px;
      color: #ffffff;
      padding: 0 25px;
      overflow: hidden;
      max-height: 0;
      background-color: #000000;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      @media (max-width: 900px) {
        .home__info--content {
          -webkit-box-ordinal-group: 3;
                  order: 2; } }
      .home__info--content.active {
        padding: 30px 25px;
        max-height: 500px; }
    .home__info--ttl {
      font-size: 32px;
      line-height: 1;
      font-family: "Circular-Std-Black", sans-serif;
      margin-bottom: 15px; }
      @media (max-width: 600px) {
        .home__info--ttl {
          font-size: 27px; } }
  .home--copy {
    z-index: 1;
    width: auto;
    padding: 1px 7px;
    display: inline-block;
    position: relative;
    font-size: 14px;
    background: black;
    text-shadow: 0 0 12px rgba(0, 0, 0, 0.65);
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none; }
    .home--copy a {
      font-family: "Circular-Std-Black", sans-serif; }
    .home--copy:hover strong {
      text-decoration: underline; }

.rsvp {
  color: #000000;
  padding: 40px 20px;
  min-height: 100vh;
  background-color: black;
  background-image: url(../img/slp-bg.png);
  background-position: top center; }
  @media (max-width: 900px) {
    .rsvp {
      background-size: 150%; } }
  @media (max-width: 600px) {
    .rsvp {
      padding: 20px;
      background-size: 100% auto; } }
  .rsvp--wrap {
    padding: 0;
    max-width: 600px; }
  .rsvp--header {
    width: 100%;
    height: auto;
    margin: 0 auto 40px auto;
    display: block; }
    @media (max-width: 600px) {
      .rsvp--header {
        margin-bottom: 20px; } }
  .rsvp__content {
    width: 100%;
    padding: 10% 6%;
    font-size: 18px;
    background-color: #ffffff; }
    .rsvp__content p {
      line-height: 1.5; }
    .rsvp__content--intro {
      color: #000000;
      margin-bottom: 60px; }
    .rsvp__content--mailchimp {
      text-align: center; }
      .rsvp__content--mailchimp label {
        color: #000000;
        display: block;
        margin-top: 25px;
        font-family: "Circular-Std-Black", sans-serif;
        text-transform: uppercase; }
      .rsvp__content--mailchimp select {
        cursor: pointer;
        background-size: 40px 40px;
        background-image: url(../img/arrow-down.png);
        background-repeat: no-repeat;
        background-position: right center; }
      .rsvp__content--mailchimp select, .rsvp__content--mailchimp input:not([type="submit"]) {
        width: 100%;
        max-width: 350px;
        color: #000000;
        border: none;
        margin: 0 auto 10px auto;
        padding: 15px 10px 10px 10px;
        outline: none;
        display: block;
        font-size: 17px;
        text-align: center;
        font-family: "Circular-Std-Book", sans-serif;
        border-radius: 0;
        background-color: #eee;
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none; }
        .rsvp__content--mailchimp select:-moz-placeholder, .rsvp__content--mailchimp input:not([type="submit"]):-moz-placeholder {
          color: #ffffff; }
        .rsvp__content--mailchimp select::-moz-placeholder, .rsvp__content--mailchimp input:not([type="submit"])::-moz-placeholder {
          color: #ffffff; }
        .rsvp__content--mailchimp select:-ms-input-placeholder, .rsvp__content--mailchimp input:not([type="submit"]):-ms-input-placeholder {
          color: #ffffff; }
        .rsvp__content--mailchimp select::-webkit-input-placeholder, .rsvp__content--mailchimp input:not([type="submit"])::-webkit-input-placeholder {
          color: #ffffff; }
      .rsvp__content--mailchimp input[type="submit"] {
        color: #ffffff;
        border: none;
        cursor: pointer;
        outline: none;
        padding: 15px 20px;
        font-size: 17px;
        margin-top: 30px;
        font-family: "Circular-Std-Black", sans-serif;
        border-bottom: 1px solid;
        text-transform: uppercase;
        background-color: red;
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none; }
        @media (max-width: 600px) {
          .rsvp__content--mailchimp input[type="submit"] {
            padding: 15px;
            font-size: 16px; } }
  .rsvp__header {
    width: 100%;
    padding: 30px 0;
    position: relative;
    margin-bottom: -40px;
    background-color: black;
    background-position: center center;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none; }
    @media (max-width: 900px) {
      .rsvp__header {
        background-size: 150%;
        background-position: center center; } }
    @media (max-width: 720px) {
      .rsvp__header {
        padding: 40px 0;
        margin-bottom: 0; } }
    .rsvp__header--wrap {
      padding: 0 20px;
      display: -webkit-box;
      display: flex;
      flex-wrap: wrap;
      -webkit-box-align: start;
              align-items: flex-start;
      justify-content: space-around; }
    .rsvp__header--img {
      width: 100%;
      max-width: 450px; }
    .rsvp__header--btn {
      color: #ffffff;
      margin: auto 0;
      cursor: pointer;
      padding: 10px 15px;
      display: inline-block;
      font-size: 14px;
      font-family: "Circular-Std-Black", sans-serif;
      border-radius: 3px;
      text-transform: uppercase;
      background-color: red; }
      @media (max-width: 720px) {
        .rsvp__header--btn {
          margin-top: 30px; } }
  .rsvp__social {
    font-size: 0;
    margin-top: 40px;
    text-align: center; }
    @media (max-width: 600px) {
      .rsvp__social {
        margin-top: 20px; } }
    .rsvp__social--item {
      color: #ffffff;
      margin: 0 10px;
      padding: 15px 20px;
      display: inline-block;
      font-size: 16px !important;
      background-color: #000000; }
      .rsvp__social--item span {
        display: inline-block;
        margin-left: 8px;
        font-family: "Circular-Std-Black", sans-serif; }
/*# sourceMappingURL=style.css.map */